.logo {
    margin-bottom: 10rem;

    @include mobileSize {
        margin-top: 5rem;
    }
}

.calculator {
    background: white;
    display: flex;
    width: 100%;
    max-width: $max-width;
    padding: 1em 1em 1em 0;
    border-radius: 2rem;
    box-shadow: 0 25px 50px 5px rgba(8, 47, 63, 0.2);

    @include mobileSize {
        flex-direction: column;
        padding: 1em;
        border-radius: 2rem 2rem 0 0;
    }
}

.calculate--container {
    width: 100%;
    padding: 0.75em 1.5em;

    @include mobileSize {
        padding: 0.25em;
    }

    .calculate__bill--wrap {
        .bill-input--wrap {
            position: relative;

            .bill__img {
                position: absolute;
                left: 1em;
                transform: translateY(1.5rem);
            }
        }
    }

    .calculate__tip--wrap {
        margin-top: 2.5rem;

        .tip__grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
            grid-auto-rows: 5rem;
            grid-gap: 1rem;

            @include mobileSize {
                grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            }
        }
    }

    .calculate__number-people--wrap {
        margin-top: 2.5rem;

        .number-people__title--wrap {
            display: flex;
            justify-content: space-between;

            .title-error__h2 {
                color: orangered;
                display: none;

                &.active {
                    display: block;
                }
            }
        }

        .people-input--wrap {
            position: relative;

            .people__img {
                position: absolute;
                left: 1em;
                transform: translateY(1.5rem);
            }
        }
    }
}

.total--container {
    border-radius: 1.5rem;
    padding: 1.5em;
    width: 100%;
    background: color(very-dark-cyan);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mobileSize {
        padding: 0.75em;
    }

    .total__output--wrap {
        .text__p {
            font-size: 1.4rem;
            color: color(dark-grayish-cyan);
            font-weight: weight(bold);
        }

        .text__h2 {
            color: color(light-grayish-cyan);
            margin: 0;
        }

        .tip__output,
        .total__output {
            color: color(primary-cyan);
            font-size: 4rem;

            @include mobileSize {
                font-size: 3.2rem;
            }
        }

        .tip-per-person--wrap {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            // margin-top: 2rem;
        }

        .total-per-person--wrap {
            display: flex;
            flex-wrap: wrap;

            align-items: center;
            justify-content: space-between;
            margin-top: 2rem;
        }
    }
}
