.calculator {
    background: white;
    display: flex;
    width: 100%;
    max-width: $max-width;
    padding: 1em;
}

.calculate--container {
    width: 100%;
    outline: solid red 2px;
    padding: 0.5em;

    .calculate__bill--wrap {
        outline: solid rgb(14, 184, 65) 1px;
    }

    .calculate__tip--wrap {
        margin-top: 1rem;
        outline: solid blue 2px;

        .tip__grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            grid-auto-rows: 5rem;
            grid-gap: 1rem;
        }
    }

    .calculate__number-people--wrap {
        margin-top: 1rem;
        outline: solid rgb(10, 195, 241) 2px;

        .number-people__title--wrap {
            display: flex;
            justify-content: space-between;
        }
    }
}

.total--container {
    width: 100%;
    background: color(very-dark-cyan);
}
