@mixin flexCenter($direction: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin mobileSize {
    @media only screen and (max-width: 750px) {
        @content;
    }
}
