$colors: (
    primary-cyan: hsl(172, 67%, 45%),
    primary-light-cyan: hsl(172, 83%, 67%),
    very-dark-cyan: hsl(183, 100%, 15%),
    darker-grayish-cyan: hsl(186, 14%, 43%),
    dark-grayish-cyan: hsl(184, 14%, 56%),
    light-grayish-cyan: hsl(185, 41%, 84%),
    lighter-grayish-cyan: hsl(189, 41%, 97%),
);

$font-stack: "Space Mono", Arial, Helvetica, sans-serif;
$max-width: 80rem;
$radius: 0.5rem;

$font-weight: (
    regular: 400,
    bold: 700,
);
