input {
    width: 100%;
    font-size: 2.4rem;
    font-family: $font-stack;
    font-weight: weight(bold);
}

.custom {
    background: none;
    color: color(dark-grayish-cyan);
    background: color(lighter-grayish-cyan);
}
